exe/ToolsManager.exe
exe/ToolsManager[V1.2].exe
Scripts/guard_alert/datasense.config
exe/ToolsManager[V1.2].exe
exe/ToolsManager[V1.3].exe
exe/ToolsManager[V1.2].exe
exe/ToolsManager[V1.3].exe
iss/toolsmanager-1-2.iss
Scripts/guard_alert/datasense.config.bak
exe/ToolsManager[V1.3].exe
exe/ToolsManager[V1.4].exe
iss/toolsmanager-1-4.iss
exe/ToolsManager[V1.3].exe
exe/ToolsManager[V1.3].exe
exe/ToolsManager[V1.4].exe
exe/ToolsManager[V1.3].exe
iss/toolsmanager-1-3.iss
Scripts/muryRobot.zip

Scripts/dashboard/teste.py
Scripts/licenca.txt
